<navbar-component></navbar-component>
<form class="form-contact col-lg-6 col-xl-6 offset-xl-1" [formGroup]="registerForm">
  <div class="search-wrapper">
    <div class="form-group">
      <label for="name" i18n="@@name">Name</label>
      <input type="text" class="form-control" id="name" aria-describedby="name" i18n-placeholder
        placeholder="Introduce your username" formControlName="name">

      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" i18n-placeholder placeholder="Introduce your email"
        formControlName="email">
      <!-- <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie</small> -->

      <div [formGroup]="passwordForm">
        <label for="password" i18n="@@password">Password</label>
        <input type="password" class="form-control" id="password" i18n-placeholder placeholder="Introduce your password"
          formControlName="password">
        <details class="details">
          <small id="passwordHelp" class="form-text text-muted" i18n="@@pass_requirements">Password must contain between 6 and 20 characters and include 1 lowercase, 1 capitalcase, 1 number and 1 special character</small>
        </details>
        <label for="passwordConfirmation" i18n>Repit the password</label>
        <input type="password" class="form-control" id="passwordConfirmation" i18n-placeholder placeholder="Repit the password"
          formControlName="passwordConfirmation">
      </div>

      <!-- <label for="age">Edad</label>
      <input type="number" class="form-control" id="age" aria-describedby="age" placeholder="Introduce tu edad"
        formControlName="age">
      <small id="ageHelp" class="form-text text-muted">Opcional</small> -->

      <!-- <label for="age">Sexo</label>
      <div>
        <input id="male" type="radio" value="male" name="gender" formControlName="gender">
        <label for="male">Male</label>
        <input id="female" type="radio" value="female" name="gender" formControlName="gender">
        <label for="female">Female</label>
        <small id="genderHelp" class="form-text text-muted">Opcional</small>
      </div> -->
    </div>
    <div class="button-block">
      <button type="submit" [disabled]="!isValidForm()" class="button border-1 mt-3"
        (click)="submit()" i18n>Start!</button>
    </div>
    <small><a href="javascript:void(0)" (click)="goTo('login')" class="nav-link" role="button" aria-haspopup="true"
      aria-expanded="false" i18n>I am already registered, I want going back.</a></small>
  </div>

  <img class="register-img" alt="login image" src="assets/img/login/undraw_travelers.svg">
</form>

<footer-component></footer-component>
