@if (weatherData) {
  <!--according to https://openweathermap.org/weather-conditions-->
  <div id="weather-widget">
    <div class="weather-forecast-wrapper">
      @for (weatherOfTheDay of weatherData.daily; track $index) {
        <div class="weather-forecast__day-row">
          <div class="weather-forecast__data">
            @switch (weatherOfTheDay.weather[0].main) {
              @case ('Clear') {
                <i class="fas fa-sun sun"></i>
              }
              @case ('Clouds') {
                @switch (weatherOfTheDay.weather[0].description) {
                  @case ('few clouds') { <i class="fas fa-cloud-sun clouds-1"></i> }
                  @case ('scattered clouds') { <i class="fas fa-cloud clouds-2"></i> }
                  @case ('broken clouds') { <i class="fas fa-cloud clouds-3"></i> }
                  @case ('overcast clouds') { <i class="fas fa-cloud clouds-4"></i> }
                }
              }
              @case ('Rain') {
                @switch (weatherOfTheDay.weather[0].description) {
                  @case ('light rain') { <i class="fas fa-cloud-sun-rain rain-1"></i> }
                  @case ('moderate rain') { <i class="fas fa-cloud-sun-rain rain-1"></i> }
                  @case ('heavy intensity rain') { <i class="fas fa-cloud-rain rain-2"></i> }
                  @case ('very heavy rain') { <i class="fas fa-cloud-rain rain-2"></i> }
                  @case ('extreme rain') { <i class="fas fa-cloud-rain rain-2"></i> }
                  @case ('light intensity shower rain') { <i class="fas fa-cloud-showers-heavy rain-3"></i> }
                  @case ('shower rain') { <i class="fas fa-cloud-showers-heavy rain-3"></i> }
                  @case ('heavy intensity shower rain') { <i class="fas fa-cloud-showers-heavy rain-3"></i> }
                  @case ('ragged shower rain') { <i class="fas fa-cloud-showers-heavy rain-3"></i> }
                }
              }
              @case ('Thunderstorm') {
                <i class="fas fa-bolt bolt"></i>
              }
              @case ('Snow') {
                <i class="fas fa-snowflake"></i>
              }
              @case ('Drizzle') {
                <i class="fas fa-cloud-rain"></i>
              }
              @default {
                <!--'Mist' || 'Fog' || 'Smoke' || 'Haze' || 'Dust' || 'Sand' || 'Ash' || 'Squall' || 'Tornado'-->
                <i class="fas fa-smog"></i>
              }
            }
            <span class="weather-forecast__description">{{weatherOfTheDay.weather[0].description}}</span>
          </div>
          <div class="weather-forecast__temperatures">
            <i class="fas fa-thermometer-quarter thermometer-min"></i><span>{{weatherOfTheDay.temp.min}}`C</span><br>
            <i class="fas fa-thermometer-full thermometer-max"></i><span>{{weatherOfTheDay.temp.max}}`C</span><br>
          </div>
          <div class="weather-forecast__day-night">
            <i class="fas fa-sun sunrise"></i><span>{{weatherOfTheDay.sunrise}}</span><br>
            <i class="fas fa-moon sunset"></i><span>{{weatherOfTheDay.sunset}}</span><br>
          </div>
          <div class="weather-forecast__atmosphere">
            <i class="fas fa-wind wind"></i><span class="weather-forecast__wind-speed">{{weatherOfTheDay.wind_speed}} m/s</span><br>
            <i class="fas fa-tint tint"></i><span>{{weatherOfTheDay.humidity}}%</span><br>
          </div>
          <div class="weather-forecast__calendar">
            <i class="far fa-calendar calendar"></i>
            <span class="weather-forecast__day-of-month">{{weatherOfTheDay.dayOfMonth}}</span>
          </div>
        </div>
      }
    </div>
  </div>
}
