<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg ">
      <div class="container box_1620">
        <a class="navbar-brand" href="index.html"><img class ="logo" src="assets/img/logo/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav justify-content-end">
            <li class="nav-item active"><a class="nav-link" href="public/home#misMaletas">Mis Maletas</a></li>
            <li class="nav-item active"><a class="nav-link" href="public/contact">Contacto</a></li>
            <li *ngIf="(loginService.logged$ | async)" class="nav-item active" (click)="logout()"><a class="nav-link" href="#">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
