:host {
  display: inline-block;
  width: 100%;
  min-height: 90px;
  margin-bottom: 20px;
}

.logo {
  height: auto;
  width: auto;
  max-width: 100px;
}

.menu_nav--icons {
  mat-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}

.active-link {
  mat-icon {
    color: #c2483d;
  }
}
