:host {
  display: inline-block;
  width: 100%;
  min-height: 90px;
  margin-bottom: 20px;
}

.logo {
  height: auto;
  width: auto;
  max-width: 100px;
}

.menu_nav--icons {
  mat-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}

.active-link {
  mat-icon {
    color: #c2483d;
  }
}

.header_area .navbar .nav .nav-item:last-child {
  margin-right: 0px;
}

.language-container {
  position: relative;

  .language-flags {
    position: absolute;
    top: 50px;
    right: 0;
  }
}

.lang-img {
  width: 40px;
  height: 40px;
}
