:host {
  form {
    margin: auto;
    padding-top: 10%;
  }

  .login-img {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}

.login-field:not(:first-child) {
  margin-top: 20px;
}

.hint-password {
  margin-top: 20px;
  max-height: 50;
  overflow-y: scroll;
}

.form-check {
  margin-top: 60px;
  display: flex;
  padding: 0;
  align-items: center;

  * {
    margin: 0;
  }

  .form-check-input {
    margin-right: 7px;
    position: relative;
  }

}

.button-block {
  display: flex;
  justify-content: space-around;
}