:host {
  form {
    margin: auto;
    padding-top: 10%;
  }

  .login-img {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}

.login-field:not(:first-child) {
  margin-top: 20px;
}

.details {
  margin-top: 10px;
  font-size: 12px;
  text-align: start;
}

.form-error {
  font-size: 12px;
  text-align: start;
  padding-left: 16px;
}

.button-block {
  display: flex;
  justify-content: space-around;
}