<navbar-component></navbar-component>

<form class="form col-lg-6 col-xl-6 offset-xl-1" [formGroup]="updatePasswordForm">
    <div class="search-wrapper">

    <mat-form-field class="full-width login-field" appearance="outline">
        <mat-label i18n="@@password">Password</mat-label>
        <input type="password" class="form-control" id="password" matInput autocomplete="off" formControlName="password" i18n-placeholder placeholder="Introduce your password">
        <mat-error *ngIf="updatePasswordForm.get('password').errors">
            <span *ngIf="updatePasswordForm.get('password').hasError('required'); else otherError" i18n="@@required_password">The field password is <strong>required</strong></span>
            <ng-template #otherError><span i18n="@@invalid_password">Invalid password, check the details</span></ng-template>
        </mat-error>
    </mat-form-field>
    <details class="details">
        <small id="passwordHelp" class="form-text text-muted" i18n="@@pass_requirements">Password must contain between 6 and 20 characters and include 1 lowercase, 1 capitalcase, 1 number and 1 special character</small>
    </details>

    <mat-form-field class="full-width login-field" appearance="outline">
        <mat-label i18n="@@confirmPassword">Confirm password</mat-label>
        <input type="password" class="form-control" id="passwordConfirmation" matInput autocomplete="off" i18n-placeholder placeholder="Repit the password"
        formControlName="passwordConfirmation">
        <mat-error *ngIf="updatePasswordForm.get('passwordConfirmation').errors">
            <span *ngIf="updatePasswordForm.get('passwordConfirmation').hasError('required'); else otherError" i18n="@@required_password">The field password is <strong>required</strong></span>
            <ng-template #otherError><span i18n="@@invalid_password">Invalid password, check the details</span></ng-template>
        </mat-error>
    </mat-form-field>
    <mat-error *ngIf="updatePasswordForm.hasError('notMatchingPasswords')" class="form-error" i18n="@@passwords_dont_match">Both passwords dont match</mat-error>

    <div class="button-block mb-3">
        <button type="submit" class="button border-1 mt-3" [disabled]="!updatePasswordForm.valid" [ngClass]="{'disabled-button': !updatePasswordForm.valid}"
          (click)="submit()" i18n>Go ahead!</button>
        <button type="submit" class="button border-1 mt-3" (click)="goTo('register')" i18n>I am new, Let's start!</button>
    </div>
    <small>
        <a href="javascript:void(0)" (click)="goTo('login')" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false" i18n>I already remember the passoword :)</a>
    </small>
    </div>
    <img class="login-img" i18n-alt="@@altLoginImage" alt="decorative login image of mysuitcase" src="assets/img/login/undraw_travelers.svg">
  </form>

<footer-component></footer-component>
