<navbar-component></navbar-component>

<form class="form-contact col-lg-6 col-xl-6 offset-xl-1" [formGroup]="loginForm">
  <div class="search-wrapper">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" i18n-placeholder placeholder="Introduce your email">
      <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')" i18n>
        the e-mail format is not valid
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('required')" i18n>
        The field Email is <strong>requered</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="loginMode" class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" i18n-placeholder placeholder="Introduce your password">
      <mat-error *ngIf="loginForm.get('password').hasError('required')" i18n>
        The field password is <strong>requered</strong>
      </mat-error>
      <mat-hint i18n="@@pass_requirements">The password must contain between 6 and 20 characters and include 1 lowercase, 1 capitalcase, 1 number and 1 special character</mat-hint>
    </mat-form-field>
    <div class="form-check" *ngIf="loginMode">
      <input type="checkbox" class="form-check-input" id="rememberme" formControlName="keepSession">
      <label class="form-check-label" for="rememberme" i18n>Rememberme</label>
    </div>
    <div class="button-block">
      <button type="submit" class="button border-1 mt-3" [disabled]="!loginForm.valid" [ngClass]="{'disabled-button': !loginForm.valid}"
        (click)="submit()" i18n>Go ahead!</button>
      <button type="submit" class="button border-1 mt-3" (click)="goTo('register')" i18n>I am new, I want to start!</button>
    </div>
    <small><a href="javascript:void(0)" (click)="toggleMode()" class="nav-link" role="button" aria-haspopup="true"
      aria-expanded="false">{{loginMode ? '¿Olvidaste la contraseña?' : 'Ya me acuerdo de la contraseña :)'}}</a></small>
  </div>
  <img class="login-img" alt="login image" src="../../../../assets/img/login/undraw_travelers.svg">
</form>

<footer-component></footer-component>
