:host {
  form {
    margin: auto;
    padding-top: 10%;
  }

  .login-img {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}

.form-check {
  margin: 20px;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;

  * {
    margin: 0;
  }

  .form-check-input {
    margin-right: 7px;
    position: relative;
  }


}