<navbar-component></navbar-component>
<form class="form-contact col-lg-6 col-xl-6 offset-xl-1" [formGroup]="registerForm">
  <div class="search-wrapper">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" aria-describedby="name"
        placeholder="Introduce tu nombre de usuario" formControlName="name">

      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Introduce email"
        formControlName="email">
      <!-- <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie</small> -->

      <div [formGroup]="passwordForm">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Introduce la contraseña"
          formControlName="password">
        <details class="details">
          <small id="passwordHelp" class="form-text text-muted">La contraseña debe contener entre 6 y 20 caracteres, de
            los cuales 1 minúscula, 1 mayúscula, 1 número y 1 carácter especial</small>
        </details>
        <label for="passwordConfirmation">Repite la contraseña</label>
        <input type="password" class="form-control" id="passwordConfirmation" placeholder="Repite la contraseña"
          formControlName="passwordConfirmation">
      </div>

      <!-- <label for="age">Edad</label>
      <input type="number" class="form-control" id="age" aria-describedby="age" placeholder="Introduce tu edad"
        formControlName="age">
      <small id="ageHelp" class="form-text text-muted">Opcional</small> -->

      <!-- <label for="age">Sexo</label>
      <div>
        <input id="male" type="radio" value="male" name="gender" formControlName="gender">
        <label for="male">Male</label>
        <input id="female" type="radio" value="female" name="gender" formControlName="gender">
        <label for="female">Female</label>
        <small id="genderHelp" class="form-text text-muted">Opcional</small>
      </div> -->
    </div>
    <div class="button-block">
      <button type="submit" [disabled]="!isValidForm()" class="button border-1 mt-3"
        (click)="submit()">Empezar!</button>
    </div>
    <small><a href="javascript:void(0)" (click)="goTo('login')" class="nav-link" role="button" aria-haspopup="true"
      aria-expanded="false">Ya estoy registrado, volver.</a></small>
  </div>

  <img class="register-img" alt="login image" src="../../../../assets/img/login/undraw_travelers.svg">
</form>

<footer-component></footer-component>
