<navbar-component></navbar-component>

<form class="form-contact col-lg-6 col-xl-6 offset-xl-1" [formGroup]="loginForm">
  <div class="search-wrapper">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Introduce email"
        formControlName="email">
      <!-- <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie</small> -->
    </div>
    <div class="form-group" *ngIf="loginMode">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" placeholder="Introduce la contraseña"
        formControlName="password">
      <details class="details">
        <small id="passwordHelp" class="form-text text-muted">La contraseña debe contener entre 6 y 20 caracteres, de
          los cuales 1 minúscula, 1 mayúscula, 1 número y 1 carácter especial</small>
      </details>
    </div>
    <div class="form-check" *ngIf="loginMode">
      <input type="checkbox" class="form-check-input" id="rememberme">
      <label class="form-check-label" for="rememberme">Recuérdame</label>
    </div>
    <div class="button-block">
      <button type="submit" class="button border-1 mt-3" [disabled]="!loginForm.valid"
        (click)="submit()">Adelante!</button>
      <button type="submit" class="button border-1 mt-3" (click)="goTo('register')">Soy nuevo, quiero empezar!</button>
    </div>
    <small><a href="javascript:void(0)" (click)="toggleMode()" class="nav-link" role="button" aria-haspopup="true"
      aria-expanded="false">{{loginMode ? '¿Olvidaste la contraseña?' : 'Ya me acuerdo de la contraseña :)'}}</a></small>
  </div>
  <img class="login-img" alt="login image" src="assets/img/home/service1.png">
</form>

<footer-component></footer-component>
