:host {
  form {
    margin: auto;
    padding-top: 10%;
  }

  .login-img {
    // min-height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}

.details {
  margin-top: 5px;
  font-size: 10px;
}
