@import "./../../../../../scss/_variables";

.full-screen .logged-user-section {
  height: calc(100vh - #{$max-footer-height-full-screen});
}

.container, .row {
  height: 100%;
  position: relative;
}

#questions-area {
  top: 110%;
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
}


.appearFromBottom {
  display: flex!important;
  animation-name: appearFromBottom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-name: appearFromBottom;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
}

.disappearToTop {
  animation-name: disappearToTop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: disappearToTop;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes disappearToTop {
  /* You could think of as "step 1" */
  0% {
    bottom: 0;
    display: flex;
  }
  /* You could think of as "step 2" */
  100% {
    bottom: 50%;
    display: none;
  }
}

@keyframes appearFromBottom {
  /* You could think of as "step 1" */
  0% {
    top: 50%;
  }
  /* You could think of as "step 2" */
  100% {
    top: 0;
  }
}
