<navbar-component></navbar-component>

<div class="hero-banner min-full-height">
  <div class="container col-12">
    <h1 class="about-title" i18n>What mysuitcase is</h1>
    <!--================Presentation section Start =================-->
    <section class="bg-gray presentation__container">
      <video controls="controls">
        <source [src]="videoSrc" type="video/mp4" />
      </video>
    </section>
    <!--================Presentation section End =================-->
  </div>
</div>

<footer-component></footer-component>
