@import "./../../../../../scss/variables";
$header-height: 50px;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 40px;
  width: 100%;
}

#create-form-header {
  align-items: center;
  background-color: $tertiary-color;
  color: white;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding: 0 20px;
}

#createSuitcaseForm {
  height: 100%;
  overflow: hidden;
  position: relative;
  min-height: 200px; // 100 for the question block + 35px for the button + 15 to separate
}

#create-form-content {
  margin: auto;
  padding: 20px;
  width: 75%;
  height: calc(100% - #{$header-height});

  .question {
    border-radius: 5px;
    width: 100%;
  }
}

#name-form-field {
  position: absolute;
  width: 100%;
}

#button-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#date-form-field, #place-form-field, #type-form-field {
  display: none;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

#name-form-field, #date-form-field, #type-form-field {
  padding-top: 50px;
}

#date-form-field {

  mat-form-field {
    margin: 0 10px;
  }
}

#place-form-field {
  flex-direction: column;
  justify-content: flex-start;
}

#type-form-field {
  flex-direction: column;
  justify-content: flex-start;

  #type_options {
    display: flex;
    flex-direction: column;
  }
}

// ANIMATIONS
.appearFromBottom {
  display: flex!important;
  animation-name: appearFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: appearFromBottom;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.disappearToTop {
  animation-name: disappearToTop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: disappearToTop;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.appearFromTop {
  display: flex!important;
  animation-name: appearFromTop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: appearFromTop;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.disappearToBottom {
  display: flex!important;
  animation-name: disappearToBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: disappearToBottom;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes disappearToTop {
  /* You could think of as "step 1" */
  0% {
    bottom: 0;
  }
  /* You could think of as "step 2" */
  100% {
    bottom: 350%;
  }
}

@keyframes appearFromBottom {
  /* You could think of as "step 1" */
  0% {
    top: 350%;
  }
  /* You could think of as "step 2" */
  100% {
    top: 0;
  }
}

@keyframes disappearToBottom {
  /* You could think of as "step 1" */
  0% {
    top: 0;
  }
  /* You could think of as "step 2" */
  100% {
    top: 350%;
  }
}

@keyframes appearFromTop {
  /* You could think of as "step 1" */
  0% {
    top: -350%;
  }
  /* You could think of as "step 2" */
  100% {
    top: 0;
  }
}

@media (max-width: 750px) {
  #createSuitcaseForm {
    min-height: 250px;
  }

  #date-form-field {
    flex-direction: column;
    justify-content: flex-start;
  }
}


#infowindow-content .title {
  font-weight: bold;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  width: 100%;
  min-height: 300px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

