<div id="create-form-header">
  <span id="create-form-header__text" i18n>Lets start</span>
  <button mat-mini-fab (click)="goPreviousQuestion()" *ngIf="currentQuestion > 1" color="primary" aria-label="Go back to previous question" class="button">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div id="create-form-content">
  <form [formGroup]="createSuitcaseForm" id="createSuitcaseForm">
    <div id="{{steps[0].id}}">
      <mat-form-field class="question" appearance="outline">
        <mat-label i18n>Name of the suitcase</mat-label>
        <input matInput i18n-placeholder placeholder="Name" formControlName="name" required>
        <mat-icon matSuffix class="icon">create</mat-icon>
        <mat-hint i18n>Max 20 characters</mat-hint>
        <mat-error *ngIf="createSuitcaseForm.controls.name.invalid" i18n>The name of the suitcase can exceed of 20 characters</mat-error>
      </mat-form-field>
    </div>
    <div id="{{steps[1].id}}">
      <mat-form-field appearance="fill">
        <mat-label i18n>From</mat-label>
        <input matInput [matDatepicker]="pickerFrom" [min]="currentDate" formControlName="from">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
        <mat-error *ngIf="createSuitcaseForm.controls.from.errors" i18n="@@date_format-error">The date format is wrong</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label i18n>To</mat-label>
        <input matInput [matDatepicker]="pickerTo" [min]="createSuitcaseForm.controls.from.value ? createSuitcaseForm.controls.from.value : currentDate" formControlName="to">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
        <mat-error *ngIf="createSuitcaseForm.controls.to.errors" i18n="@@date_format-error">The date format is wrong</mat-error>
      </mat-form-field>
    </div>
    <div id="{{steps[2].id}}">
      <mat-form-field class="question pac-card" appearance="outline" id="pac-card">
        <mat-label i18n>We are you going?</mat-label>
        <input id="pac-input" matInput i18n-placeholder placeholder="Choose a city" required>
        <mat-icon matSuffix class="icon">public</mat-icon>
      </mat-form-field>

      <div #mapContainer id='map'></div>

      <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon" />
        <span id="place-name" class="title"></span><br />
        <span id="place-address"></span>
      </div>
    </div>
    <div id="{{steps[3].id}}">
      <mat-card class="type-options__card">
        <div formArrayName="type">
          <mat-label i18n>What kind of trip are you going to do?</mat-label>
          <div id="type_options">
            <ng-container *ngFor="let option of getTypeControls(createSuitcaseForm.controls.type); let i=index" [formGroupName]="i">
              <mat-checkbox formControlName="selected">
                <div class="category-description__container">
                  <mat-icon class="icon">{{option.value.icon}}</mat-icon>
                  <span>{{option.value.name}}</span>
                </div>
              </mat-checkbox>
            </ng-container>
          </div>
        </div>
        <div *ngIf="isSportsSelected()" [formGroup]="sportForm" id="type__sub-options">
          <mat-checkbox class="" formControlName="diving">
            <div class="category-description__container">
              <mat-icon class="icon">water</mat-icon>
              <span i18n>Diving</span>
            </div>
          </mat-checkbox>
          <mat-checkbox class="" formControlName="cycling">
            <div class="category-description__container">
              <mat-icon class="icon">pedal_bike</mat-icon>
              <span i18n>Cycling</span>
            </div>
          </mat-checkbox>
        </div>
      </mat-card>
    </div>

    <div id="button-wrapper">
      <button mat-raised-button *ngIf="currentQuestion !== steps.length" [disabled]="isDisabled()" (click)="nextQuestion()" color="primary" class="button" i18n="@@continue_button">Continue</button>
      <button mat-raised-button *ngIf="currentQuestion === steps.length" [disabled]="isDisabled()" (click)="saveSuitcase()" color="primary" class="button" i18n>Make the list</button>
    </div>
  </form>
</div>
<mat-progress-bar
  [color]="color"
  [mode]="mode"
  [value]="progressBarValue"
  [bufferValue]="100">
</mat-progress-bar>
