@import "./../../../../../scss/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 40px;
  width: 100%;
}

#create-form-header {
  align-items: center;
  background-color: $tertiary-color;
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
}

#createSuitcaseForm {
  overflow: hidden;
  position: relative;
  min-height: 200px; // 100 for the question block + 35px for the button + 15 to separate
}

#create-form-content {
  margin: auto;
  padding: 20px;
  width: 75%;

  .question {
    width: 100%;
  }
}

#name-form-field {
  position: absolute;
  width: 100%;
}

#button-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px; // space booked for the questions
}

#date-form-field, #place-form-field, #type-form-field {
  display: none;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

#date-form-field {

  mat-form-field {
    margin: 0 10px;
  }
}

#type-form-field {
  flex-direction: column;
  justify-content: flex-start;

  #type_options {
    display: flex;
    flex-direction: column;
  }
}

// ANIMATIONS
.appearFromBottom {
  display: flex!important;
  animation-name: appearFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: appearFromBottom;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.disappearToTop {
  animation-name: disappearToTop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: disappearToTop;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.appearFromTop {
  display: flex!important;
  animation-name: appearFromTop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: appearFromTop;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.disappearToBottom {
  display: flex!important;
  animation-name: disappearToBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: disappearToBottom;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes disappearToTop {
  /* You could think of as "step 1" */
  0% {
    bottom: 0;
  }
  /* You could think of as "step 2" */
  100% {
    bottom: 350%;
  }
}

@keyframes appearFromBottom {
  /* You could think of as "step 1" */
  0% {
    top: 350%;
  }
  /* You could think of as "step 2" */
  100% {
    top: 0;
  }
}

@keyframes disappearToBottom {
  /* You could think of as "step 1" */
  0% {
    top: 0;
  }
  /* You could think of as "step 2" */
  100% {
    top: 350%;
  }
}

@keyframes appearFromTop {
  /* You could think of as "step 1" */
  0% {
    top: -350%;
  }
  /* You could think of as "step 2" */
  100% {
    top: 0;
  }
}

@media (max-width: 750px) {
  #date-form-field {
    flex-direction: column;
    justify-content: flex-start;
  }
}
