

<navbar-component></navbar-component>

<button *ngIf="isLogged && isAdmin" (click)="goTo('admin')">Admin</button>
<p>Estás en public/home</p>
<section class="hero-banner magic-ball">

  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
        <h1>Olvídate de olvidar cosas en tu próximo destino.</h1>
        <p> El hacer maletas siempre fue la parte más tediosa del viaje. Con <i>Mysuitcase</i> te ayudamos a optimizar ese proceso para que no olvides nada en tu próximo viaje. ¿Por qué perder el tiempo con las cosas que no lo requieren? </p>
        <button class="button button-hero mt-4" (click)="goTo('public/design')">Login/Sign Up</button>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
        <img class="img-fluid" src="../../../../../assets/img/home/carry1-noback.png" alt="">
      </div>
    </div>
  </div>
</section>


<footer-component></footer-component>




