
<div class="bottom-sheet-wrapper">
    <a matTooltip="Cerrar" (click)="closePanel($event)" class="nav-link close"><mat-icon>close</mat-icon></a>
    <div class="bottom-sheet-content">
        <p>En MySuitcase te ayudamos a hacer la maleta para tu viaje según las opciones que configures mientras estás creando tu maleta,
            aportando recomendaciones de elementos que podrían ser útiles en un viaje de esas características.
        </p>

        <p>Otra cosa que nos ayuda a realizar recomendaciones de elementos acertadas es otros datos como la edad y/o el género</p>

        <p>Por ejemplo, si eres un hombre adulto de 40 años, es posible que puedas necesitar una maquinilla de afeitar, o si tienes 80 años podrías usar bastón,
             por lo que en tus listas te lo sugeriremos.<mat-icon class="icon">elderly_woman</mat-icon><mat-icon class="icon">elderly</mat-icon></p>

        

        <p>Sin embargo, siempre podrás desechar tales sugerencias o añadir cualquier elemento que no conste como sugerencia. </p>

        <p>Poco a poco iremos mejorando nuestras recomendaciones, por lo que si deseas <strong>recomendaciones mas precisas</strong> añade algún campo extra más!</p>
    </div>
</div>
