@if (dataReady) {
  <div class="container">
    <h2 class="overview-title" id="misMaletas" i18n>My suitcases</h2>
    @for (suitcase of suitcaseList; track $index; let i = $index) {
      @if (i % 2 === 0) {
        <div class="row">
          <div class="col-md-6">
            <div class="overview-card">
              @switch (suitcaseList[i].icon) {
                <!--mountain-->
                @case ('mountain') {
                  <img class="card-img" loading="lazy" src="assets/img/categories/mountain.gif" i18n-alt alt="Image of mountain type of trip">
                }
                <!--beach-->
                @case ('beach') {
                  <img class="card-img" loading="lazy" src="assets/img/categories/beach.gif" i18n-alt alt="Image of beach type of trip">
                }
                <!--baby-->
                @case ('baby') {
                  <img class="card-img" loading="lazy" src="assets/img/categories/baby2.gif" i18n-alt alt="Image of baby type of trip">
                }
                <!--pet-->
                @case ('pet') {
                  <img class="card-img" loading="lazy" src="assets/img/categories/pet.jpeg" i18n-alt alt="Image of pet type of trip">
                }
                <!--sport-->
                @case ('sport') {
                  <img class="card-img" loading="lazy" src="assets/img/categories/sport.gif" i18n-alt alt="Image of sport type of trip">
                }
                <!--others-->
                @default {
                  <img class="card-img" loading="lazy" src="assets/img/blog/blog-3.png" i18n-alt alt="Image of any other type of trip different from the previous types">
                }
              }
              <div class="overview-card-overlay">
                <h4 class="overview-title">{{suitcaseList[i].name}}</h4>
                <div class="media">
                  <div class="media-body">
                    <div class="overview-date">
                      <mat-icon matSuffix class="icon">date_range</mat-icon>
                      <span class="align-middle">{{suitcaseList[i].getPrintDate(localeId)}}</span>
                    </div>
                    <div class="overview-place">
                      <mat-icon matSuffix class="icon">public</mat-icon>
                      <span class="align-middle">{{suitcaseList[i].getPrintPlace()}}</span>
                    </div>
                    <div class="overview-categories">
                      @if (suitcaseList[i].type.beach.selected) {
                        <mat-icon matSuffix class="icon">beach_access</mat-icon>
                      }
                      @if (suitcaseList[i].type.mountain.selected) {
                        <mat-icon matSuffix class="icon">filter_hdr</mat-icon>
                      }
                      @if (suitcaseList[i].type.sport.selected) {
                        <mat-icon matSuffix class="icon">sports_soccer</mat-icon>
                      }
                      @if (suitcaseList[i].type.pet.selected) {
                        <mat-icon matSuffix class="icon">pets</mat-icon>
                      }
                      @if (suitcaseList[i].type.baby.selected) {
                        <mat-icon matSuffix class="icon">baby_changing_station</mat-icon>
                      }
                    </div>
                  </div>
                  <div class="overview-actions">
                    <mat-icon matSuffix class="icon clickable-icon link-icon" (click)="edit(suitcaseList[i])">create</mat-icon>
                    <mat-icon matSuffix class="icon clickable-icon link-icon" (click)="remove(suitcaseList[i]._id, i)">delete_sweep</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          @if (suitcaseList[i + 1]) {
            <div class="col-md-6">
              <div class="overview-card">
                @switch (suitcaseList[i + 1].icon) {
                  <!--mountain-->
                  @case ('mountain') {
                    <img class="card-img" src="assets/img/categories/mountain.gif" alt="">
                  }
                  <!--beach-->
                  @case ('beach') {
                    <img class="card-img" src="assets/img/categories/beach.gif" alt="">
                  }
                  <!--baby-->
                  @case ('baby') {
                    <img class="card-img" src="assets/img/categories/baby2.gif" alt="">
                  }
                  <!--pet-->
                  @case ('pet') {
                    <img class="card-img" src="assets/img/categories/pet.jpeg" alt="">
                  }
                  <!--sport-->
                  @case ('sport') {
                    <img class="card-img" src="assets/img/categories/sport.gif" alt="">
                  }
                  <!--others-->
                  @default {
                    <img class="card-img" src="assets/img/blog/blog-3.png" alt="">
                  }
                }
                <div class="overview-card-overlay">
                  <h4 class="overview-title">{{suitcaseList[i + 1].name}}</h4>
                  <div class="media">
                    <div class="media-body">
                      <div class="overview-date">
                        <mat-icon matSuffix class="icon">date_range</mat-icon>
                        <span class="align-middle">{{suitcaseList[i + 1].getPrintDate(localeId)}}</span>
                      </div>
                      <div class="overview-place">
                        <mat-icon matSuffix class="icon">public</mat-icon>
                        <span class="align-middle">{{suitcaseList[i + 1].getPrintPlace()}}</span>
                      </div>
                      <div class="overview-categories">
                        @if (suitcaseList[i + 1].type.beach.selected) {
                          <mat-icon matSuffix class="icon">beach_access</mat-icon>
                        }
                        @if (suitcaseList[i + 1].type.mountain.selected) {
                          <mat-icon matSuffix class="icon">filter_hdr</mat-icon>
                        }
                        @if (suitcaseList[i + 1].type.sport.selected) {
                          <mat-icon matSuffix class="icon">sports_soccer</mat-icon>
                        }
                        @if (suitcaseList[i + 1].type.pet.selected) {
                          <mat-icon matSuffix class="icon">pets</mat-icon>
                        }
                        @if (suitcaseList[i + 1].type.baby.selected) {
                          <mat-icon matSuffix class="icon">baby_changing_station</mat-icon>
                        }
                      </div>
                    </div>
                    <div class="overview-actions">
                      <mat-icon matSuffix class="icon clickable-icon link-icon" (click)="edit(suitcaseList[i + 1])">create</mat-icon>
                      <mat-icon matSuffix class="icon clickable-icon link-icon" (click)="remove(suitcaseList[i + 1]._id, i + 1)">delete_sweep</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      }
    }
  </div>
}
