<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <!-- <a class="navbar-brand logo_h" href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

<section class="hero-banner magic-ball">
  <div class="container">

    <div class="row align-items-center text-center text-md-left">
      <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
        <h1 i18n>404: Page not found</h1>
        <p i18n> Oooops, It looks like you made a wrong suitcase. Go back to the main screen to start again.</p>
        <a class="button button-hero mt-4" href="#" i18n="@@back_button">Go back</a>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
        <img class="img-fluid" src="assets/img/404/404.svg" alt="">
      </div>
    </div>
  </div>
</section>

