/* banner section start
	============================================================================================ */
.hero-banner{
  padding-top: 0px;

  @media(min-width: 992px){
    padding-top: 0px;
  }

  h1, h2 {
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 60px;

    @media(max-width: 1200px){
      font-size: 40px;
    }

    @media(max-width: 991px){
      font-size: 30px;
    }
  }

  h2 {
    font-size: 35px;
    opacity: 0.8;

    @media(max-width: 1200px){
      font-size: 25px;
    }

    @media(max-width: 991px){
      font-size: 20px;
    }
  }
}

.bg-shape{
  position: relative;

  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 595px;
    height: 660px;
    background: url(../assets/img/home/bg-shape-left.png) left center no-repeat;
    background-size: cover;
    z-index: -1;

    @media(max-width: 768px){
      display: none;
    }
  }


  &::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 755px;
    height: 100%;
    max-height: 860px;
    background: url(../assets/img/home/bg-shape-right.png) left center no-repeat;
    background-size: cover;
    z-index: -1;

    //@media(max-width: 620px){
    //  display: none;
    //}
  }
}


/* banner section end
  ============================================================================================ */



/* breadcrumb section start
  ============================================================================================ */
  .banner-breadcrumb{
    display: inline-block;

    .breadcrumb{
      background: transparent;
      padding: 0;

      &-item{
        padding: .1rem;

        a{
          text-transform: capitalize;
          color: #fff;
        }

        &+.breadcrumb-item::before{
          color: #fff;
          padding-left: .2rem;
          padding-right: .4rem;
          // content: "-";
        }

        &.active{
          color: #fff;
        }
      }
    }
  }
/* breadcrumb section end
  ============================================================================================ */
