@use '_variables' as vars;

.mat-mdc-snack-bar-container {
    &.success-snackbar .mdc-snackbar__surface {
        background-color: vars.$success-color;
        color: vars.$white;
    }

    &.error-snackbar .mdc-snackbar__surface {
        background-color: vars.$error-color;
        color: vars.$white;
    }
}   
