@import '_variables';

.mat-mdc-snack-bar-container {
    &.success-snackbar .mdc-snackbar__surface {
        background-color: $success-color;
        color: $white;
    }

    &.error-snackbar .mdc-snackbar__surface {
        background-color: $error-color;
        color: $white;
    }
}   
