<form class="col-lg-6 col-xl-6 offset-xl-1" [formGroup]="loginForm">
  <div class="search-wrapper">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Introduce email"  formControlName="email">
      <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie</small>
    </div>
    <div class="form-group" *ngIf="loginMode">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" placeholder="Introduce la contraseña" formControlName="password">
    </div>
    <div class="form-check" *ngIf="loginMode">
      <input type="checkbox" class="form-check-input" id="rememberme">
      <label class="form-check-label" for="rememberme">Recuerdame</label>
    </div>
    <div class="button-block">
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary" (click)="submit()">Adelante!</button>
      <button type="submit" class="btn btn-primary" (click)="goTo('register')">Soy nuevo, quiero empezar!</button>
    </div>
    <a href="javascript:void(0)" (click)="toggleMode()" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">{{loginMode ? 'Olvide la contraseña' : 'Ya me acuerdo de la contraseña'}}</a>
  </div>

  <img class="login-img" alt="login image" src="img/home/service1.png">
</form>
