.icon {
  color: #d88a83;
  height: 20px;
  font-size: 20px;
  width: 20px;
}

.clickable-icon {
  cursor: pointer;
  color: #d88a83;
}

.disabled-icon {
  cursor: default;
  color: lightgrey!important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white!important;
}
