@use '@angular/material' as mat;
@import 'variables';
@include mat.core();

$mat-suitcase-secondary: (
  100: #c1c8d7,
  300: #7383a5,
  500: $tertiary-color,
  700: #1e232f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);
$mat-suitcase-primary: (
  50: #f9edec,
  100: #f3dad8,
  200: #edc8c5,
  300: #e7b6b1,
  400: $primary-color,
  500: #ce6d64,
  600: #c2483d,
  700: #9b3a31,
  800: #742b25,
  900: #4e1d18,
  A100: #f3dad8,
  A200: #e7b6b1,
  A400: #ce6d64,
  A700: #742b25,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$my-app-primary: mat.define-palette($mat-suitcase-primary, 400);
$my-app-accent:  mat.define-palette($mat-suitcase-secondary);
$my-app-warn:    mat.define-palette(mat.$red-palette, 700);
$my-app-theme: mat.define-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include mat.all-component-themes($my-app-theme);

