/* Common variables for all the app */

/* Screens */
$desktop: 992px;
$tablet:  768px;
$mobile:  576px;

/* Font family */
$title-font: 'Roboto Condensed', sans-serif;
$text-font: 'Roboto', sans-serif;


/* Color variables */
$title-color: #2a2a2a;
$text-color: #888888;
$primary-color: #D88A83;
$secondary-color: #BA6C65;
$tertiary-color: #394359;
$link-color-secondary: #007bff;


$black: #242429;
$link-color: #777777;
$white: #fff;

/* #D88A83
#BA6C65
#F2BE8D
#394359
#303242 */


/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');



// Shared styles
.nav-link{
  color: unset;
  cursor: pointer;
}

$max-footer-height: 175px;
$max-footer-height-full-screen: 140px;

// FONT-SIZE
$font-size-big-xx: 24px;
$font-size-big-x: 20px;
$font-size-big: 18px;
$font-size-normal-x: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-small-x: 10px;
$font-size-small-xx: 9px;
$font-size-small-xxx: 8px;
